/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /*COLORS*/
  --color-purple: #cba0f6;
  --color-green: #59dda5;
  --color-light-purple: #fbf2ff;

  --text-color-black: #000000;
  --text-color-light-black: #433c3c;
  --text-color-gray: #5a5965;
  --text-color-smoky: #514d4d;

  --bg-color-white: #ffffff;
  --bg-color-gray: #f1efef;

  /*GRADIENT*/
  --gradient-1: linear-gradient(
    180deg,
    #c0c0c0 48.75%,
    rgba(222, 222, 222, 0) 100%
  );

  /* FONT-FAMILY */
  --main-title: "Kaushan Script";
  --font-family-forum: "Forum";
  --font-family-oswald: "Oswald";
  --font-family-roboto: "Roboto";
}

/*-----------------------------------*\
  #DANIYARA - PRELOADER
\*-----------------------------------*/

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

/*-----------------------------------*\
  #-DANIYARA - MAIN PAGE
\*-----------------------------------*/

/*-----------------------------------*\
  #VENERA - ABOUT US
\*-----------------------------------*/

/*-----------------------------------*\
  #VENERA - ADVANTAGES
\*-----------------------------------*/

/*-----------------------------------*\
  #ARUZHAN - RATES
\*-----------------------------------*/

/*-----------------------------------*\
  #VENERA - FEEDBACK
\*-----------------------------------*/

/*-----------------------------------*\
  #ARUZHAN - FOOTER
\*-----------------------------------*/